.cart-dropdown {
  position: absolute;
  width: 240px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 70px;
  right: 300px;
  z-index: 5;
  color: black;

  .cart-items {
    max-height: 280px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin: 0;
  }

  button {
    margin-top: auto;
  }
}
