.header {
  background-color: black;
  color: white;
  height: 70px;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;

  .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 15px;

      .option {
        margin: 10px 15px;
        cursor: pointer;
      }

      .login {
        background-color: white;
        color: black;
        padding: 10px 15px;
        border-radius: 5px;
      }
    }
  }

  .logo-container {
    height: 100%;
    width: 45px;
    display: flex;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: white;
}