.custom-button {
  padding: 10px 35px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 10px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &:focus {
    outline: 2px gray solid;
  }
}

.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
}